h1{
    background: rgb(165, 165, 165);
    border: 8px solid #ffe91f;
    height: 60px;
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
   
    
}

body{
    background: white;   

    }    

    p {
        border: 1px solid powderblue;
    }

    {
        box-sizing: border-box;
    }
    
    .topnav {
        overflow: hidden;
        background-color: rgb(38, 0, 255);
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #fbff00;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: fantasy;
        border: 8px solid;
 
    }
